@import url("https://fonts.googleapis.com/css2?family=Orbitron");

*
{
    font-family: Orbitron, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html
{
    scroll-behavior: smooth;
}

body
{
    background: var(--fouth);
    height: 100vh;

    --first: #cfdbd5;
    --second: #e8eddf;
    /* --third: #f5cb5c; */
    --third: #4EA7C8;
    --fouth: #242423;
    --fifth: #333533;
    --last: #3f3f3f;
}

.sidenav 
{
    height: 100%;
    width: 160px;
    position: fixed;
    background: var(--fifth);
}


.nav-btn 
{
    padding: 6px 8px 6px 16px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover 
{
    color: #f1f1f1;
}

.main 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
}

@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

h1
{
    color: var(--third);
}